//
// Custom styles for Ronin Labs
//

//
// # Top bar
//
.top-bar {
  .logo {
    height: 41px;
  }

  .name {
    span {
      position: absolute;
      left: -9999px;
    }
  }

  .active > a span {
    border-bottom: 3px solid $primary-color;
  }

  a {
    transition: all .2s;
  }

  .top-bar-section .has-dropdown > a:after {
    border-color: $ronin-light-grey rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  }
}

//
// # Hero banner
//
.hero {
  background: url('../images/hero.jpg') center center no-repeat;
  background-size: cover;
  padding: 15% 0;

  h1 {
    color: $white;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
}


//
// # Landing page section
//
.section {
  margin: 100px 0;

  h2 {
    color: $primary-color;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }

  p {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
}

@media (min-width: 40.063em) {
  .section p {
    font-size: 20px;
  }
}


//
// # Custom buttons
//
.button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $font-weight-bold;
  -webkit-font-smoothing: antialiased;
  transition: all .3s;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  &.secondary {
    background: transparent;
    border-color: $ronin-grey;
    color: $ronin-grey;

    &:hover {
      background: transparent;
      color: $ronin-grey;
    }
  }

  &.reverse {
    color: $white;
    border-color: $white;
  }
}

//
// # "Ads"
//
.ad {
  background-color: #eee;
  margin: 20px 10px;
  padding: 20px;

  img {
    height: 150px;
    margin: 25px 0;
  }
}

@media (min-width: 40.063em) {
  .ad {
    margin: 0 10px;
  }
}

//
// # Video
//
.flex-video {
  margin: 40px 0;
}

//
// # Footer
//
.footer {
  background-color: $ronin-light-grey;
  color: $white;
  padding: 50px 20px;

  ul {
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
}
