@import "settings";
@import "foundation";

.logo {
  height: 41px;
}

.name {
  span {
    position: absolute;
    left: -9999px;
  }
}

.hero {
  background: url('../images/hero.jpg') center center no-repeat;
  background-size: cover;
  padding: 15% 0;

  h1 {
    color: $white;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
}

.section {
  margin: 100px 0;

  h2 {
    color: $primary-color;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }

  p {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
}

@media (min-width: 40.063em) {
  .section p {
    font-size: 20px;
  }
}

.button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $font-weight-bold;
  -webkit-font-smoothing: antialiased;
  transition: all .3s;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  &.secondary {
    background: transparent;
    border-color: $ronin-grey;
    color: $ronin-grey;

    &:hover {
      background: transparent;
      color: $ronin-grey;
    }
  }

  &.reverse {
    color: $white;
    border-color: $white;
  }
}

.ad {
  background-color: #eee;
  padding: 20px;

  img {
    height: 150px;
    margin: 25px 0;
  }
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
